


/*===========================
    11.SEREENSHOT css 
===========================*/


.screenshot-area{
	padding-bottom: 181px;
	@media #{$md} {
		padding-bottom: 115px;
	}
	@media #{$xs} {
		padding-bottom: 115px;
	}
	& .container-fluid{
		max-width: 1595px;
		@media #{$laptop} {
			max-width: 1200px;
		}
		@media #{$lg} {
			max-width: 992px;
		}
	}
	& .section-title{
		padding-bottom: 121px;
		@media #{$laptop} {
			padding-bottom: 118px;
		}
		@media #{$lg} {
			padding-bottom: 120px;
		}
		@media #{$md} {
			padding-bottom: 60px;
		}
		@media #{$xs} {
			padding-bottom: 60px;
		}
	}
	& .screenshot-item{
		& img{
			width: 100%;
		}
	}
	& .screenshot-active{
		position: relative;
		@media #{$laptop} {
			margin-left: 0;
			margin-right: 0;
		}
		@media #{$lg} {
			margin-left: 0;
			margin-right: 0;
		}
		@media #{$md} {
			margin-left: 0;
			margin-right: 0;
		}
		@media #{$xs} {
			margin-left: 0;
			margin-right: 0;
		}
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			background-image: url(../images/screenshot-thumb.png);
			background-position: center center;
			background-repeat: no-repeat;
			width: 342px;
			height: 665px;
			background-size: 100% auto;
			box-shadow: 0px 0px 60px 0px rgba(5, 5, 6, 0.05);
			-webkit-transform: translate(-50%, -49%) scaleY(0.95);
			transform: translate(-50%, -49%) scaleY(0.95);
			@media #{$laptop} {
				width: 260px;
				height: 505px;
			}
			@media #{$md} {
				display: none;
			}
			@media #{$xs} {
				display: none;
			}

		}
	}
	& .screenshot-active{
	    & .slick-dots{
	        position: absolute;
	        left: 50%;
	        bottom: -137px;
	        transform: translateX(-50%);
			@media #{$md} {
				bottom: -70px;
			}
			@media #{$xs} {
				bottom: -70px;
			}
	        & li{
	            display: inline-block;
	            & button{
	                height: 7px;
	                width: 7px;
	                border-radius: 50%;
	                background: #d3d5d9;
	                border: 0;
	                font-size: 0;
	                margin: 0 2.5px;
	            }
	            &.slick-active{
	                & button{
	                    background: $theme-color;
	                    height: 9px;
	                    width: 9px;
	                }
	            }
	        }
	    }
	}
}



